.updated{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #04a504;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.errorR{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #f75c5c;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.artContainer{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    position: relative;
}

.uploadedArt{
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
}

.uploadedArt img{
    width: 200px;
    height: 200px;
}

.adminAction{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 5px;
}

.adminAction form{
    margin: 0 2px 0 2px;
}

.adminAction form input{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
}

.adminAction form input:hover{
    background-color: #fff;
    color: #000;
}

