

*{
    box-sizing: border-box;
}
.updated{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #04a504;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.errorR{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #f75c5c;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
 .profile-card{
    display: flex;
    flex-flow: column nowrap;
}

 .banner{
    max-width: 100%;
}

.banner img{
    width: 100%;
}

 .profile-info{
    display: flex;
    flex-flow: row nowrap;
    padding-left: 40px;
}

 .profile-pic img{
    border-radius: 50%;
    border: 2px solid #fff;
    width: 120px;
    height: 120px;
    position: relative;
    top: -50px;
}

 .artist-info{
    margin-left: 10px;
}

 .artist-name{
    color: #000;
    font-weight: bold;
    line-height: 1rem;
}

.artist-bio{
    color: #666;
    font-weight: bold;
    line-height: 1rem;
}

.artist-collection, .artist-collection-items{
    width: 100%;
}

.artist-collection-title{
    color: #000;
    font-weight: bold;
    line-height: 2rem;
}

.artist-collection-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.artist-collection-items img{
    padding: 5px;
    max-width: 350px;
    max-height: 450px;
}

@media (max-width: 1100px){
    .artist-collection-items{
        display: flex;
        flex-flow: row wrap;
    }

    .artist-collection-items img{
        padding: 5px;
        max-width: 300px;
        max-height: 400px;
    }
}

@media (max-width: 950px){
    .artist-collection-items{
        display: flex;
        flex-flow: row wrap;
    }

    .artist-collection-items img{
        padding: 5px;
        max-width: 275px;
        max-height: 375px;
    }
}

@media (max-width: 750px){
    .profile-pic img{
        border-radius: 50%;
        border: 2px solid #fff;
        width: 100px;
        height: 100px;
        position: relative;
        top: -40px;
    }

    .artist-collection-items{
        display: flex;
        flex-flow: row wrap;
    }

    .artist-collection-items img{
        padding: 5px;
        max-width: 250px;
        max-height: 350px;
    }
}

@media (max-width: 540px){
    .profile-info{
        flex-flow: column nowrap;
        padding: 0;
        align-items: center;
    }

    .profile-pic img{
        border-radius: 50%;
        border: 2px solid #fff;
        width: 80px;
        height: 80px;
        position: relative;
        top: -40px;
    }

    .artist-info{
        text-align: center;
        margin-top: -20px;
    }

    .artist-collection-items{
        display: flex;
        flex-flow: row wrap;
    }

    .artist-collection-items img{
        padding: 5px;
        max-width: 200px;
        max-height: 300px;
    }
}
 .uploadArt .error{
     color: #f75c5c;
     display: none;
 }


