.form{
    margin-left: 50px;
}
.form h1{
    color: green;
}
.form .error{
    color: red;
    display: none;
}
.updated{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #04a504;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.errorR{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #f75c5c;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}

*{
    box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
    font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
    font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
    font-weight: bold;
}

input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
    font-weight: bold;
}

input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
    font-weight: bold;
}

input:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #666;
    font-weight: bold;
}

.form-group input{
    width: 100%;
}

button{
    cursor: pointer;
    border: none;
}

.gallery{
    padding: 2%;
}

.gallery-head span{
    font-weight: bold;
    font-size: x-large;
}

.gallery-btns button{
    font-size: 1rem;
}

@media (min-width: 992px){
    .register-banner{
        align-items: center;
    }
}

@media (min-width: 768px){
    .register-banner{
        flex: 40%;
    }

    .register-form{
        flex: 40%;
        align-content: center;
    }
}

@media (min-width: 576px){

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: smaller;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: smaller;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: smaller;
    }

    .register-container{
        padding: 10px 4vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .register-banner{
        flex: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .register-banner img{
        flex: 100%;
    }

    .register-form{
        padding-left: 4vw;
        align-self: center;
        flex: 50%;
        display: flex;
        flex-flow: column nowrap;
    }

    .gallery-contents{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .gallery-image img{
        padding: 2%;
        padding-bottom: 0;
        vertical-align: middle;
        width: 100%;
        height: 90%;
    }

    .gallery-head span{
        font-weight: bold;
        font-size: xx-large;
    }
}

@media (max-width: 576px){
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: smaller;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: smaller;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: smaller;
    }

    .gallery-contents{
        display: flex;
        flex-flow: row wrap;
    }

    .gallery-image{
        flex:50%;
    }

    .gallery-image img{
        padding: 2%;
        width: 100%;
        height: 95%;
    }

    .gallery-head span{
        font-size: larger;
    }

    .gallery-btns{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .gallery-btns button{
        font-size: xx-small;
    }
}
